@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
}

.item {
    border: 1px solid lightblue;
    font-weight: bold;
    text-align: center;
    padding: 15px;
  }

  .item a {
    color: lightseagreen;
    font-size: 24px;
    padding: 5px;
  }

  .item:hover {
      background-color: gainsboro;
  }

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(6, auto);
  grid-auto-rows: 50px;
  grid-auto-columns: 45px;
  grid-gap: 5px;
  padding: 15px;
}

.container {
    top: 1%;
    position: absolute;
    left: 20%;
    right: 0;
    bottom: 0;
    max-width: 60%;
}

@media (max-width: 500px) and (orientation : portrait) {
}

.bar {
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto;
    grid-gap: 5px;
    width: 95%;
    background-color: white;
    -webkit-box-shadow: 0px -2px 12px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -2px 12px -1px rgba(0,0,0,0.75);
box-shadow: 0px -2px 12px -1px rgba(0,0,0,0.75);
}

.bar .link {
    grid-row: span 1;
}

.bar a {
    color: black;
    text-decoration: none;
}

.name {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 3%;
    background-color: white;
    text-align: center;
    -webkit-box-shadow: 0px 2px 12px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 12px -1px rgba(0,0,0,0.75);
box-shadow: 0px 2px 12px -1px rgba(0,0,0,0.75);
}

.name h2 {
    color: #005AFE;
    margin: 0;
    padding: 1px;
}

.name small {
    color: silver;
}

.content {
    margin-top: 20%;
}

.portrait {    
    margin: 0;
    color: azure;
}

.top-portrait-text {
    position: absolute;
    top: 15%;
    left: 6%;
}

.bottom-portrait-text {
    position: absolute;
    top: 22%;
    left: 6%;
}

.about {
    padding: 15px;
    text-align: center;
}